@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;
/* *{
  border: 1px solid red;
} */
#root{
  margin: 0 !important;
  padding:0 !important;
}
:root {
  margin: 0;
  padding:0;
  --orange:#e65c00;
  --yellow:#F9D423;
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
 /*  line-height: 1.5;
  font-weight: 400;
 */
}
body {
  margin: 0;
  padding:0;
  overflow-x:hidden;
  background-color:#f9fafb ;
}
.navbar{
  width:100vw;
}
.footer{
  width:100vw;
}
.vote-now-btn{
  background-color:var(--orange);
}
.orange-color{
  color:var(--orange);
}
.orange-color-bg{
  background-color:var(--orange);
}
#first-name:focus{
  border:2px solid  #e65c00;
}
.footer{
  width:100vw;
}